<!DOCTYPE html>
<html lang="en">

<body>

<div class="container-fluid p-5">
{{parsed_data|safe}}
<pre>
<b>
Thanks and Regards, 
Sky Express 
</b>
</pre>
<small>
  This is an automated email sent by Sky Express. Please do not reply to this email.
  If you are not the intended recipient of this message, please report to {support_email} immediately.
  This message contains confidential information and is intended only for the individual or company named.
  You should not disseminate, distribute, copy or use this email for any illegal purposes.
  Please view our site Terms of use. By logging in, it is deemed that you accept the same.
  Sky Express cannot accept responsibility for any loss or damage arising from the misuse of this email or attachments.
  </small>
</div>

</body>
</html>
